[
  {
    "tenant_id": "tenant_1759411690",
    "tenant_name": "Nom de l'entreprise ou du client",
    "graph": {
      "tenant_id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
      "client_id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
      "client_secret": "VOTRE_SECRET_CLIENT_AZURE_AD"
    },
    "accounts": [
      {
        "id": "acc_1759412958",
        "account_name": "Service Comptabilité",
        "user_email": "compta@exemple.com",
        "default_printer_id": "printer_1759504175",
        "folders": [
          {
            "id": "AAMkAD...AAAA=",
            "name": "Inbox",
            "destination_folder_id": "root"
          },
          {
            "id": "AAMkAD...AAAB=",
            "name": "Factures Fournisseurs",
            "destination_folder_id": "3"
          }
        ],
        "automation_rules": []
      },
      {
        "id": "acc_1759485039",
        "account_name": "Service Commandes",
        "user_email": "commandes@exemple.com",
        "default_printer_id": "",
        "folders": [
            {
                "id": "AAMkAD...AAAC=",
                "name": "Inbox",
                "destination_folder_id": "root"
            }
        ],
        "automation_rules": []
      }
    ]
  }
]
